# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/
Timing/

# Pip / build
*.dist-info/
*.egg-info/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
# Local race data
data/*.json
data/*.bak
